@font-face {
  font-family: 'walkway_ultrabold';
  src: url('../fonts/walkway_ultrabold-webfont.woff2') format('woff2'),
       url('../fonts/walkway_ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometosregular';
  src: url('../fonts/geometos-webfont.woff2') format('woff2'),
       url('../fonts/geometos-webfont.woff') format('woff'),
       url('../fonts/geometos-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('../fonts/vcr_osd_mono_1001-webfont.woff') format('woff'),
       url('../fonts/vcr_osd_mono_1001-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
