#home {
  .home-content {
    position: relative;

    .img-bg-home {
      // position: absolute;
      // top: 0;
      // bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: -50px;
    }

    .logo-shortcut_left {
      position: absolute;
      // width: 50%;
      top: 20%;
      left: 43%;
      max-width: 20%;
    }
  }
}
