// mixins
@import "mixins/fonts";
@import "mixins/colors";
@import "mixins/animations";

// layouts
@import "layouts/topMenu";

// components
@import "components/menu";

// pages
@import "pages/creator/index";
@import "pages/creator/id";
@import "pages/registor/index";
@import "pages/thankyou/index";


html,
body {
  background-color: #000;
  font-size: 20px;
}

.mt-6 {
  margin-top: 4rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mt-9 {
  margin-top: 7rem;
}

.mt-10 {
  margin-top: 8rem;
}

.ml-6 {
  margin-left: 4rem;
}

.ml-7 {
  margin-left: 5rem;
}

.ml-8 {
  margin-left: 6rem;
}
