.creator {
  .center-section {
    width: 25%;
    height: 100%;
    float: left;
  }

  .creator-txt {
    position: absolute;
    left: 15%;
    bottom: 5%;

    h1 {
      font-size: 4.5em;
      font-family: "vcr_osd_monoregular";
    }

    p {
      line-height: 0;
      font-family: "geometosregular";
    }

    h2 {
      font-size: 3em;
      font-family: "vcr_osd_monoregular";
      line-height: .5;
      color: #ec3939;
    }

    h3 {
      font-size: 2.5em;
      font-family: "vcr_osd_monoregular";
      line-height: 0;
      padding-left: 70px;
    }
  }

  .creator-txt-m {

    span {
      font-size: 3.5em;
      color: #ec3939;
      // float: right;
      font-family: "vcr_osd_monoregular";
      margin-top: -5px;
      position: absolute;
      right: 15%;
    }

    p {
      float: left;
      line-height: 0;
      font-family: "geometosregular";
      padding-left: 5%;
    }

  }
}
